<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>
<body>
  <div class="footer-container">  
    <div class="container">
      <div class="foot">
       <div class="logo"><i><strong>Tachyon</strong></i></div>
        <div class="icofonts">
            <a href="https://www.instagram.com/rohaz_bhalla?igsh=MWRuMWVwbTVkeDZiMw==" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a> &nbsp;
            
            <a href="https://wa.me/6283583232" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a> &nbsp;
            
            <a href="https://plus.google.com/yourgoogleplusprofile" target="_blank">
                <i class="fa-brands fa-google-plus-g"></i>
            </a> &nbsp;
            
            <a href="rohazbhalla3@gmail.com" target="_blank">
                <i class="fa-regular fa-envelope"></i>
            </a> &nbsp;
            
    </div>

  </div>

 <div class="foot2">
    <div class="one">
        <h3>Get Your Tickets </h3>
        <br>
        <button> Enroll now
            
            <a href="/home">
           <i class="fa-solid fa-arrow-right"></i></a></button>


        </div>
        <div class="two">
            <h3>Our Events</h3> <br>
            <p> I Am Engineer </p>
            <p>Talent Show</p>
            <p>Stylish Bonanza</p>
            <p>Smasher League</p>
            <p>Robo War</p>

        </div>
<div class="three">
   <h3>Our Contacts</h3> <br>
   <p>Email</p>
   <p>rohazbhalla3@gmail.com  OR  hitaishi.8.8.8@gmail.com </p>
   <p>Phone no.</p>
   <p>9988467270 OR 6283583232</p>
   <p></p>
</div>
<div class="four">
    <h3>Our Locations</h3><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13587.383450637679!2d74.81241779307126!3d31.63807040529449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39196526b773175d%3A0xb78109348cd540b!2sGuru%20Nanak%20Dev%20University%2C%20Amritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1729791449853!5m2!1sen!2sin" width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</div>
<div class="foot3">
    This Website is created by Rohaz Bhalla and Hitaishi Lohtia</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>