<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Fest</title>
    <link rel="stylesheet" href="/css/header.css">
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-5kmQRVVZSYy3ltGNCjHH5RT8Go2oI1Fj5WXj6wwIC7tykW1J9fCZW+ZBwyW4Xt4e" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="ontop">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"><img src="/images/esf.png" height="35px"></a>
          <a class="navbar-brand" id="brand" href="/home"><i>Tachyon 5.O</i></a>
          <a class="navbar-brand" href="/home" id="homenav">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="icn">☰</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" id="rules" href="/rules">Rules</a>
              </li>
              &nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link" id="stalls" href="/stalls">Stalls</a>
              </li>

              &nbsp;&nbsp;&nbsp;
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="events" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Events
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/events/engineer">I am Engineer</a></li>
                  <li><a class="dropdown-item" href="/events/robo">Robo War</a></li>
                  <li><a class="dropdown-item" href="/events/smashers-league">Smashers League</a></li>
                  <li><a class="dropdown-item" href="/events/fashion-show">Stylish Bonanza</a></li>
                  <li><a class="dropdown-item" href="/events/talent-hunt">Talent Hunt</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<!-- Bootstrap 5 JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-QGE6LEroTZz5qIxDEjhm3l5tCCatQl5Kp/79Vxv7uF0e/n4JifXh/spl/47lCXd7" crossorigin="anonymous"></script>
</body>
</html>
